In [1]:
# Import dependencies.
import pandas as pd

In [2]:
# Load csv file.
file = '../Data/cal_populations_city.csv'
df = pd.read_csv(file)

print(df.shape)
df.head()

(455, 7)

,County,City,Incorportation_date,pop_april_1980,pop_april_1990,pop_april_2000,pop_april_2010
0,San Bernardino,Adelanto,1970,2164.0,8517,18130,31765
1,Los Angeles,Agoura Hills,1982,NaN,20390,20537,20330
2,Alameda,Alameda,1854,63852.0,76459,72259,73812
3,Alameda,Albany,1908,15130.0,16327,16444,18539
4,Los Angeles,Alhambra,1903,64767.0,82106,85804,83089

In [3]:
# Only keep population for 1990.
df = df.drop(columns=['Incorportation_date', 'pop_april_1980', 'pop_april_2000', 'pop_april_2010'])

df.head()

           County          City  pop_april_1990
0  San Bernardino      Adelanto            8517
1     Los Angeles  Agoura Hills           20390
2         Alameda       Alameda           76459
3         Alameda        Albany           16327
4     Los Angeles      Alhambra           82106

In [4]:
# Rename Column.
df = df.rename(columns={'pop_april_1990': 'Population'})

df.head()

           County          City  Population
0  San Bernardino      Adelanto        8517
1     Los Angeles  Agoura Hills       20390
2         Alameda       Alameda       76459
3         Alameda        Albany       16327
4     Los Angeles      Alhambra       82106

In [6]:
# Check for null values.
df.isnull().sum()

County        0
City          0
Population    0
dtype: int64

In [7]:
# Export the DataFrame as a CSV file
output_data_file = "../Data/Clean_Population.csv"

# Export the City_Data into a CSV.
df.to_csv(output_data_file, index=False)