In [1]:
import pandas as pd

In [2]:
file = '../Data/Clean_MergedDF.csv'
df = pd.read_csv(file)

print(df.shape)
df.head()

(11453, 19)

,City,Longitude,Lattitude,Population,Median Age,Median Income,Median House Value,Total Rooms,Bedrooms,Households,Ocean Proximity,Max Temp,Humidity,Cloudiness,Wind Speed,Description,County,Employees,Establishments
0,Berkeley,-122.23,37.88,322.0,41.0,8.3252,452600.0,880.0,129.0,126.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0
1,Piedmont,-122.22,37.86,2401.0,21.0,8.3014,358500.0,7099.0,1106.0,1138.0,NEAR BAY,87.76,62.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0
2,Piedmont,-122.24,37.85,496.0,52.0,7.2574,352100.0,1467.0,190.0,177.0,NEAR BAY,87.76,62.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0
3,Berkeley,-122.25,37.85,558.0,52.0,5.6431,341300.0,1274.0,235.0,219.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0
4,Berkeley,-122.25,37.85,565.0,52.0,3.8462,342200.0,1627.0,280.0,259.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0

In [3]:
df2 = df.copy()

df2.loc[df2['Median House Value'].between(0, 100000, 'both'), 'house_value_group'] = '<= $100k'
df2.loc[df2['Median House Value'].between(100000, 200000, 'right'), 'house_value_group'] = '$100k - $200k'
df2.loc[df2['Median House Value'].between(200000, 300000, 'right'), 'house_value_group'] = '$200k - $300k'
df2.loc[df2['Median House Value'].between(300000, 400000, 'right'), 'house_value_group'] = '$300k - $400k'
df2.loc[df2['Median House Value'].between(400000, 1000000000, 'right'), 'house_value_group'] = '>$400k'

df2.head()

,City,Longitude,Lattitude,Population,Median Age,Median Income,Median House Value,Total Rooms,Bedrooms,Households,Ocean Proximity,Max Temp,Humidity,Cloudiness,Wind Speed,Description,County,Employees,Establishments,house_value_group
0,Berkeley,-122.23,37.88,322.0,41.0,8.3252,452600.0,880.0,129.0,126.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0,>$400k
1,Piedmont,-122.22,37.86,2401.0,21.0,8.3014,358500.0,7099.0,1106.0,1138.0,NEAR BAY,87.76,62.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0,$300k - $400k
2,Piedmont,-122.24,37.85,496.0,52.0,7.2574,352100.0,1467.0,190.0,177.0,NEAR BAY,87.76,62.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0,$300k - $400k
3,Berkeley,-122.25,37.85,558.0,52.0,5.6431,341300.0,1274.0,235.0,219.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0,$300k - $400k
4,Berkeley,-122.25,37.85,565.0,52.0,3.8462,342200.0,1627.0,280.0,259.0,NEAR BAY,88.09,65.0,20.0,10.36,few clouds,Alameda,505595.0,32808.0,$300k - $400k

In [4]:
# Export the DataFrame as a CSV file
output_data_file = "../Data/DF_for_Visualizations.csv"

# Export the City_Data into a CSV.
df2.to_csv(output_data_file, index=False)